body
{

    /*Change the font to something less painful to prototype with*/

    



    /*Change the colors to a dark theme*/

    

    
	background: #262626;


    /*Format the body to take up the whole page*/

    margin: 0;

    height: 100%;

    width: 100%;

}


.playfeatures{
	
	margin: 10px 10px 10px 10px;
	padding: 16px 32px;
	align-items: -webkit-center;
}



/*Styling for the pads*/

.pad:active{
	 background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pad{



    /*Allow spacing and sizing to be responsive*/
	margin: 4px;
    
	
	
    width:5vw;

	height:5vw;

    

    top: 50%;

    transform: translateY(-10%);
	
	outline: none;

	cursor: pointer;

	padding: 16px 32px;

	border-radius: 4px;

	font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

	text-align: center;
	
	border: none;
	
	box-shadow: 0 9px #999;
	
	justify-content: center;


    
	
}
.playRecord{
	font-size: .7em;
	height: 60px;
	width: 60px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
	}
.padRecord{
	font-size: .7em;
	height: 60px;
	width: 60px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
}
.padEdit{
	font-size: .7em;
	height: 60px;
	width: 60px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
}

#playrecord_container{
	display: grid;
	grid-template-columns: auto ;
	grid-gap: 10px;
    float: center;
  padding: 10px;
  width:20%;
}
#playrecord_container > div {
  
  text-align: center;
  padding: 20px 0;
  
}




.playrecord_container{
	
  display: grid;
  grid-template-columns: auto ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
	
}
.playrecord_container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


.pad::before {
   
    border-radius: inherit;
    content: '';
    filter: blur(10px); 
    opacity: 1.00;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1; 
  }
   
  
  

#pad1:before{
	background: #DC143C;
	box-shadow: 0 5px red;
	}
#pad2:before{background: #DC143C;
box-shadow: 0 5px red;}
#pad3:before{background: #DC143C;
box-shadow: 0 5px red;}
#pad4:before{background: #DC143C;
box-shadow: 0 5px red;}
#pad5:before{background: blue;
}
#pad6:before{background: blue;}
#pad7:before{background: blue;}
#pad8:before{background: blue;}
#pad9:before{background: lightGreen;}
#pad10:before{background: lightGreen;}
#pad11:before{background: lightGreen;}
#pad12:before{background: lightGreen;}
#pad13:before{background: #FF1493;
box-shadow: 0 5px pink;}
#pad14:before{background: #FF1493;
box-shadow: 0 5px pink;}
#pad15:before{background: #FF1493;
box-shadow: 0 5px pink;}
#pad16:before{background: #FF1493;
box-shadow: 0 5px pink;}



#pad1{	background-color: red;
}
#pad2{	background-color: red;
}
#pad3{	background-color: red;
}
#pad4{	background-color: red;
}
#pad5{	background-color: lightblue;
}
#pad6{	background-color: lightblue;
}
#pad7{	background-color: lightblue;
}
#pad8{	background-color: lightblue;
}
#pad9{	background-color: green;
}
#pad10{	background-color: green;
}
#pad11{	background-color: green;
}
#pad12{	background-color: green;
}
#pad13{	background-color: purple;
}
#pad14{	background-color: purple;
}
#pad15{	background-color: purple;
}
#pad16{	background-color: purple;
}



.tab{

	overflow: hidden;

  border: 1px solid #ccc;

  background-color: grey;





}

header {

  

  padding: 10px;

  color: black;

  

}

.tab .topbottom{

	

	background-color: grey;

  border: none;

  color: white;

  padding: 15px 32px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;

  cursor: pointer;

  transition: all 0.5s;

  float: left;

  

  display: flex; 

  justify-content: center;

  

}







/*Div holding the pads*/

#pad_container{

	
	
	
    width:25vw;

    height:25vw;

    margin-left:12vw;
	
	margin-top:5vw;

	padding: 16px 16px 16px;

    background: rgb(60,60,60);

   

	border-radius: 4px;
	
	float:left;

    

}



/*styles the sidebar*/

#sidebar_container{

    width:25vw;

    height:25vw;

    background: rgb(60,60,60);

    display: inline-block;

    

    text-align: center;

    margin:5.5vw;

	border-radius: 4px;

}




/*Styles the playback menu*/

#playback_menu{

    background: white;

    width:95%;

    height:45%;

    margin:2.5%;

	border-radius: 4px;

}



/*Styles the other menu*/

#other_menu{

     background: white;

     width:95%;

     height:45%;

     margin:2.5%;

	 border-radius: 4px;



}



/*Styles the upper container housing the above menus*/

#upper_container{

width:100%;

text-align: center;

}



/*Styles the sample loader*/

#samplebar{

    width:52.5vw;

    height:5vw; 

    background: rgb(60,60,60);

    display: inline-block;

    margin-top: 10px;

	border-radius: 4px;



}





#samplebar_container{

    text-align: center;

    

}



h1{

    text-align: center;

}


.tab .Boomer
{
	

  

  

  padding: 10px 10px;

  

  text-decoration: none;

  display: inline-block;

	
	left: 50%;
  

  

  

  

  

  justify-content: center;
	
}

.Boomer span{
		color:#fff;
		font-family: verdana;
		font-size: 20px;
		color: #fff;
		display:inline-block;
		animation: animate 2s linear infinite;
		width: 24 px;
		height: 24px;
		text-align: center; line-height: 24px;
		border: 1px solid rgba(255, 255, 255, .40);
		margin: 0 -2.5px;
	
}
@keyframes animate
{
	0%
	{
		color:#f00;
		box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		border: 1px solid rgba(255,0,0,1);
	}
	33%
	{
		color:#0f0;
		box-shadow: 0 2px 10px rgba(0, 255, 0, 1);
		border: 1px solid rgba(0,255,0,1);
	}
	66%
	{
		color:#00f;
		box-shadow: 0 2px 10px rgba(0, 0, 255, 1);
		border: 1px solid rgba(0,0,255,1);
	}
	100%
	{
		color:#f00;
		box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		border: 1px solid rgba(255,0,0,1);
	}
	80%
	{
		color:#f00;
		box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		border: 1px solid rgba(255,0,0,1);
	}
	100%
	{
		color:#f00;
		box-shadow: 0 2px 10px rgba(255, 0, 0, 1);
		border: 1px solid rgba(255,0,0,1);
	}
	
}
@media screen and (max-width: 1200px) {
    .pad{width:20%;
	height:20%;	
	margin: 0px;
	padding: 0px 4px;}  
	#sidebar_container{

    width:100%;

    height:100%;

    }
	#playrecord_container{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
    float: center;
  padding: 2px;
  width:20%;
}
	pad_container{
		padding-left: 5px ;
		padding-right: 5px ;
		padding-bottom: 5px ;
		width:90px;

		height:90px;
	}
	.pad::before{
		filter: blur(10px);
		width: 100%;
		height: 100%;
		opacity: 1.00;
	}
	.playRecord{
	font-size: .7em;
	height: 30px;
	width: 30px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
	}
.padRecord{
	font-size: .7em;
	height: 30px;
	width: 30px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
}
.padEdit{
	font-size: .7em;
	height: 30px;
	width: 30px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	vertical-align:top;
	text-align:center;
	cursor: pointer;
}
}
